
* {
  margin: 0;
  padding: 0;
  
}
html {
  scroll-behavior: smooth;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--Dark-Gray, #121212);
}
/* Ensure the app container fills the entire viewport height */
.app-container {
  display: flex;
  flex-direction: column;
}

/* Main content area should take up remaining space */
.content {
  flex: 1;
}